@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
  position: relative;
}

ul {
  list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* Local fonts */
@font-face {
  font-family: "Century Gothic";
  src: local("CenturyGothic"), url('/fonts/Century\Gothic.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Elmessiri Regular';
  src: local('elmessiri-regular'), url('./fonts/elmessiri-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Elmessiri Medium';
  font-weight: 600;
  src: local('Elmessiri-Medium'), url('./fonts/elmessiri-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Elmessiri Semibold';
  font-weight: 700;
  src: local('Elmessiri-semibold'), url('./fonts/elmessiri-semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Elmessiri Bold';
  font-weight: 900;
  src: local('Elmessiri-Bold'), url('./fonts/elmessiri-bold.otf') format('opentype');
}

@font-face {
  font-family: 'GOTHIC';
  font-weight: normal;
  src: local('GOTHIC'), url('./fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
  font-family: 'GOTHICB';
  font-weight: 600;
  src: local('GOTHICB'), url('./fonts/GOTHICB.TTF') format('truetype');
}

@font-face {
  font-family: 'GOTHICB0';
  font-weight: 700;
  src: local('GOTHICB0'), url('./fonts/GOTHICB0.TTF') format('truetype');
}

@font-face {
  font-family: 'GOTHICBI';
  font-weight: 800;
  src: local('GOTHICBI'), url('./fonts/GOTHICBI.TTF') format('truetype');
}

@font-face {
  font-family: 'GOTHICI';
  font-weight: 900;
  src: local('GOTHICI'), url('./fonts/GOTHICI.TTF') format('truetype');
}

@font-face {
  font-family: 'Nexa Regular';
  font-weight: 600;
  src: local('Nexa-Regular'), url('./fonts/Nexa\Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Light';
  font-weight: 400;
  src: local('Nexa-Regular'), url('./fonts/Nexa\Light.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Bold';
  font-weight: 700;
  src: local('Nexa-Bold'), url('/fonts//Nexa\ Bold.otf') format('opentype');
}

/* General CSS styles */
h1,
h2 {
  font-size: 2.2rem
}

h3 {
  font-size: 1.9rem;
}

.header_en_font {
  font-family: 'Nexa Bold', sans-serif !important;
}

.header_ar_font {
  font-family: 'Elmessiri Bold' !important;
}

.text_en_font {
  font-family: 'Century Gothic' !important;
}

.text_ar_font {
  font-family: 'Elmessiri Regular' !important;
}

.header {
  /* line-height: 12.29px; */
  letter-spacing: -0.04px;
  text-transform: uppercase;
  color: #895b6c;
}

.text,
.text a {
  line-height: 23px;
  font-size: 1.1rem;
  letter-spacing: -0.13px;
  color: #645359;
}

.text a:hover {
  color: #f4e8ef !important;
}

.section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-menu {
  min-width: 6rem;
  text-align: center;
  background-color: transparent;
}

.form-control:focus {
  border-color: #f2f2f2 !important;
  box-shadow: none !important;
}

.form-select,
.form-select option {
  border: 1px solid #645359 !important;
  background-color: transparent !important;

}

.form-select:focus {
  border: 1px solid #645359 !important;
  box-shadow: none !important
}

.p-top {
  padding-top: .7rem !important;
}

/* components */
/* Home component */
.home_bg {
  background-image: url('../assets/images/Naya-Home-bg.png');
  min-height: 100vh;
}

/* About component */
.about_bg {
  background-image: url('../assets/images/about_bg.png');
}

/* Global component */
.global_bg {
  background-image: url('../assets/images/Naya-international_bg.png');
}

/* Contact component */
.contact_bg {
  background-image: url('../assets/images/Naya-Conatct_bg.png');
}

.body_care_bg {
  background-image: url('../assets/images/Naya_Make_up__plain_bg.png');
}

.makeup_bg {
  background-image: url('../assets/images/Naya_Make_up__plain_bg.png');
}

.hair_care_bg {
  background-image: url('../assets/images/Naya_hair_bg.png');
  /* min-height: 100vh; */
}

.hair_bg {
  background-image: url('../assets/images/Naya_hair_care_bg.png');
  min-height: 100vh;
}

.vision_bg {
  background-image: url('../assets/images/Naya-mission_bg.png');

}

.contact_bg {
  background-image: url('../assets/images/Naya-Conatct_bg.png');

}

.top_btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ad7f91;
  color: #f2f2f2;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 1.4rem;
  opacity: 0;
  transition: all 0.3s;
}
.alert{
  transition: all ease-in-out 0.5;
}
.form_btn,
.toggle-btn,
.toggle-btn:focus {
  background-color: #ad7f91 !important;
  color: #f2f2f2;
  transition: all ease-in-out 0.5s;
}

.toggle-btn:focus {
  box-shadow: 0 0 0 0 !important
}

.form_btn:hover {
  color: #ad7f91 !important;
  background-color: #f2f2f2 !important;
  border-color: none !important
}

.nav-top {
  opacity: 0.8 !important;
  background-color: #211926 !important;
  /* position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1030 !important; */
  /* background-color: #f7eef1 !important; */
}

/* For Desktop View */
@media screen and (min-width: 1024px) {}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 1.7rem;
  }

  .brand-logo {
    width: 400px !important
  }

  .text {
    font-size: 1rem !important;
    line-height: 19px;
  }

  .preal-img {
    width: 200px !important;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (min-width: 640px) and (max-width: 768px) {

  h1,
  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .brand-logo {
    width: 350px !important
  }

  .text {
    font-size: 15px !important;
    line-height: 19px;
  }

  .preal-img {
    width: 190px !important;
  }
}

/* For Mobile Portrait View */
@media screen and (min-width: 480px) and (max-width: 640px) {

  
  h1,
  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .brand-logo {
    width: 300px !important
  }

  .text {
    font-size: 0.95rem !important;
    line-height: 19px;
  }

  .preal-img {
    width: 170px !important;
  }
}